@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --primarylightcyan: #cee3e9;
  --primaryneongreen: #52ffa8;
  --hover-btn: #52ffa8;
  --neutraldarkgrayishblue: #323a49;
  --neutraldarkblue: #1f2632;
}

.white-mode:root {
  --primarylightcyan: #1B1D20;
  --primaryneongreen: #2da96b;
  --hover-btn: #00ff80;

  --neutraldarkgrayishblue: #FFFFFF;
  --neutraldarkblue: #edeeef;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: 'Manrope', sans-serif;
}

body {
  background-color: var(--neutraldarkblue);
}

.container {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  background-color: var(--neutraldarkgrayishblue);
  padding: 30px;
  max-width: 550px;
  border-radius: 10px;
  margin: 50px;

  text-align: center;
}

.card h1 {
  color: var(--primaryneongreen);
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.3rem;

  margin-bottom: 15px;
}

.card h3 {
  color: var(--primarylightcyan);
  font-size: 1.9rem;

  margin-bottom: 30px;
}

.card-separator {
  margin-bottom: 30px;
}

.card-button button {
  background-color: var(--primaryneongreen);
  border: none;
  border-radius: 9999px;
  padding: 1.2rem;
  transition: .3s all ease-in-out;
  cursor: pointer;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.card-button button:hover {
  box-shadow: 0 5px 15px var(--hover-btn);
}

.card-button button img {
  width: 1.4rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 576px) {
  #mobile {
    display: none;
  }
}

@media only screen and (max-width: 575px) {
  #desktop {
    display: none;
  }
}

@media only screen and (max-width: 380px) {
  .card {
    max-width: 250px;
  }

  .card h3 {
    font-size: 1.2rem;
  }

  .card-separator img {
    width: 10rem;
  }
}

.card-favorite {
  display: flex;
  justify-content: left;
}

.card-favorite button {
  background: none;
  border: none;
}

.card-favorite button ion-icon {
  color: var(--primarylightcyan);
  font-size: 1.5rem;
  transition: .3s all ease-in-out;
}

.card-favorite button ion-icon:hover {
  cursor: pointer;
  color: var(--primaryneongreen);
}

.alert {
  background-color: var(--neutraldarkgrayishblue);
  padding: 30px;
  border-radius: 10px;

  display: none;
  position: absolute;
  top: 272px;
}

#alert2 {
  background-color: var(--neutraldarkgrayishblue);
  padding: 30px;
  border-radius: 10px;
  margin: 30px;

  display: none;
}

.favorites {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin: 30px;
}

.favorites h2 {
  color: var(--primaryneongreen);
  font-size: 1.9rem;

  margin-bottom: 30px;
}

.favorites ul {
  list-style: none;
}

.favorites ul li {
  color: var(--primarylightcyan);
  background-color: var(--neutraldarkgrayishblue);
  margin-bottom: 20px;
  padding: 30px;
  border-radius: 5px;

  display: flex;
  justify-content: space-between;
}

.delete-button {
  background: none;
  border: none;
}

.delete-button:hover{
  cursor: pointer;
}

.delete-button ion-icon {
  color: var(--primarylightcyan);
  font-size: 1.2rem;
  margin-left: 1rem;
}

.toggle {
  position: relative;
  margin: 30px;
}

input[type=checkbox]{
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 52px;
  height: 27px;
  background: grey;
  float: right;
  border-radius: 100px;
  position: relative;
}

label::after{
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  background-color: #00ff80;
}

input:checked + label::after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 45px;
}
